DBUS_SYSTEM_BUS_ADDRESS=tcp:host=172.31.0.2,bind=*,port=55556,family=ipv4 # The default DBUS socket address.
PULSE_SERVER=tcp:172.31.0.3:4713 # The Pulseaudio Unix socket. Don't change unless you know what you are doing!
DEVICE= #The Device you would like to use
PIPEWIRE_DEBUG=3 # Show more information in the pipwire and pipewire-pulse container.
XDG_RUNTIME_DIR=/tmp # The work directory of pipewire and pipewire-pulse. Don't touch it! :)
NAME=bakruis #The name you want to give your audio stack
AUDIO_GROUP=29 #Audio group corresponding to your audio group on the host