DBUS_SYSTEM_BUS_ADDRESS=unix:path=/var/run/dbus/system_bus_socket #The socket DBUS listens on.
PIPEWIRE_DEBUG=3 # Show more information in the pipwire and pipewire-pulse container.
XDG_RUNTIME_DIR=/tmp # The work directory of pipewire and pipewire-pulse. Don't touch it! :)
PULSE_SERVER=unix:/tmp/pulseaudio.socket # The Pulseaudio Unix socket. Don't change unless you know what you are doing!
NAME= #The name you want to give your audio stack
AUDIO_GROUP=29 #Audio group corresponding to your audio group on the host
