services:
  dbus:
    env_file: ".env"
    image: ronaldvk90/dbus:latest
    build: dbus/.
    restart: unless-stopped
    volumes:
      - dbussocket:/var/run/dbus/
      - ./dbus/system_services/:/usr/share/dbus-1/system.d/
      - ./dbus/session_services/:/usr/share/dbus-1/session.d/

  avahi:
    depends_on:
      dbus:
        condition: service_healthy
    env_file: ".env"
    image: ronaldvk90/avahi:latest
    build: avahi/.
    restart: unless-stopped
    volumes:
      - audiosockets:/tmp
      - dbussocket:/var/run/dbus/
    network_mode: host

  pipewire-pulse:
    hostname: pipewire-pulse
    depends_on:
      dbus:
        condition: service_healthy
    env_file: .env
    build: pipewire-pulse/.
    restart: unless-stopped
    image: ronaldvk90/pipewire-pulse:latest
    volumes:
      - audiosockets:/tmp
      - dbussocket:/var/run/dbus/
      - ./pipewire-pulse/pipewire-pulse.conf.d/:/etc/pipewire/pipewire-pulse.conf.d/
      - /run/udev:/run/udev:ro
    devices:
      - "/dev/snd"
    ports:
      - "4713:4713"

  bluetooth:
    depends_on:
      pipewire-pulse:
        condition: service_healthy
    env_file: ".env"
    image: ronaldvk90/bluetooth:latest
    build: bluetooth/.
    restart: unless-stopped
    volumes:
      - audiosockets:/tmp
      - dbussocket:/var/run/dbus/
      - btdevices:/var/lib/bluetooth
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    network_mode: host

  shairport-sync:
    depends_on:
      pipewire-pulse:
        condition: service_healthy
    env_file: .env
    image: ronaldvk90/shairport-sync:latest
    restart: unless-stopped
    network_mode: "host"
    volumes:
      - dbussocket:/var/run/dbus/
      - audiosockets:/tmp
    logging:
      options:
        max-size: "200k"
        max-file: "10"

  spotify:
    depends_on:
      pipewire-pulse:
        condition: service_healthy
    env_file: .env
    image: ronaldvk90/spotify:latest
    build: spotify/.
    restart: unless-stopped
    volumes:
      - dbussocket:/var/run/dbus/
      - audiosockets:/tmp
    network_mode: host

volumes:
  btdevices:
  audiosockets:
  dbussocket:
