services:
  dbus:
    env_file: ".env"
    image: ronaldvk90/dbus:latest
    build: dbus/.
    restart: unless-stopped
    volumes:
      - dbussocket:/var/run/dbus
      - avahisocket:/var/run/avahi-daemon      
      - /etc/localtime:/etc/localtime:ro

  avahi:
    depends_on:
      dbus:
        condition: service_healthy
    env_file: ".env"
    image: ronaldvk90/avahi:latest
    build: avahi/.
    restart: unless-stopped
    volumes:
      - pipesocket:/tmp/
      - dbussocket:/var/run/dbus
      - avahisocket:/var/run/avahi-daemon
      - /etc/localtime:/etc/localtime:ro
    network_mode: host

  pipewire:
    depends_on:
      dbus:
        condition: service_healthy
    env_file: .env
    build: pipewire/.
    restart: unless-stopped
    image: ronaldvk90/pipewire:latest
    volumes:
      - pipesocket:/tmp/
      - dbussocket:/var/run/dbus
      - avahisocket:/var/run/avahi-daemon
      - /etc/localtime:/etc/localtime:ro
      - /run/udev:/run/udev:ro
    devices:
      - "/dev/snd"

  pipewire-pulse:
    depends_on:
      pipewire:
        condition: service_healthy
    env_file: .env
    build: pipewire-pulse/.
    restart: unless-stopped
    image: ronaldvk90/pipewire-pulse:latest
    volumes:
      - pipesocket:/tmp/
      - dbussocket:/var/run/dbus
      - avahisocket:/var/run/avahi-daemon
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "4713:4713"

  bluetooth:
    depends_on:
      pipewire:
        condition: service_healthy
    env_file: ".env"
    image: ronaldvk90/bluetooth:latest
    build: bluetooth/.
    restart: unless-stopped
    volumes:
      - pipesocket:/tmp/
      - dbussocket:/var/run/dbus
      - btdevices:/var/lib/bluetooth
      - /etc/localtime:/etc/localtime:ro
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    network_mode: host

  shairport-sync:
    depends_on:
      pipewire-pulse:
        condition: service_healthy
    env_file: .env
    image: ronaldvk90/shairport-sync:latest
    restart: unless-stopped
    volumes:
      - pipesocket:/tmp/
      - dbussocket:/var/run/dbus
      - avahisocket:/var/run/avahi-daemon
      - /etc/localtime:/etc/localtime:ro
    network_mode: "host"
    logging:
      options:
        max-size: "200k"
        max-file: "10"

  spotify:
    depends_on:
      pipewire-pulse:
        condition: service_healthy
    env_file: .env
    image: ronaldvk90/spotify:latest
    build: spotify/.
    volumes:
      - pipesocket:/tmp/
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    network_mode: host

volumes:
  dbussocket:
  btdevices:
  pipesocket:
  avahisocket: